extends layout 

block content

  h1= title

  if brand_items.length
    p(class="font-bold") You must delete the following SKUs before you can delete this brand.

    ul
      each item in brand_items 
        li
          a(href=item.url) #{item.model}
  else
    p Do you really want to delete this brand?

    form(method="POST" action='')
      input#brandid(type="hidden" name="brandid" required=true value=brand._id)
      button(type="submit" class="bg-blue-600 text-white mt-2 rounded p-1 text-2xl") Delete

