extends layout 

block content 

  div(class="p-2")
    h1(class="font-bold text-4xl") #{discipline.name} Items
    div(class=" flex gap-2 text-blue-400 mb-2")
      a(href=`${discipline.url}/update` ) Update
      a(href=`${discipline.url}/delete` ) Delete

    div(class="p-2 md:p-5 lg:px-20 xl:p-50 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 lg:gap-8")

      each item in items
        a(href=item.url class="flex justify-center w-full ")
          div(class="flex w-full flex-col md:flex-row md:max-w-xl rounded-lg bg-gray-100  hover:bg-gray-200 shadow-lg")
            if item.image
              img(class="w-full max-h-25 md:h-auto object-cover md:w-48 rounded-t-lg md:rounded-none md:rounded-l-lg" src="/uploads/" + item.image)
            div(class="p-2 md:w-full flex md:flex-col justify-between md:justify-center md:gap-4 md:items-center md:align-center")
              div(class="flex flex-col md:items-center")
                p(class="font-bold") #{item.model}
                p(class="italic") #{item.category}
              div(class="flex items-center")
                p(class="align-bottom ") £#{item.price}

      

      else
        li There are no items in this discipline yet

