extends layout 

block content 

  h1= title 

  if discipline_items.length
    p(class="font-bold") You must first delete the following SKUs before you can delete this category 

    ul
      each item in discipline_items
        li
          a(href=item.url) #{item.model}

  else
    p Do you really want to delete this style?
    form(method="POST" action='')
      input#disciplineID(type="hidden" name="disciplineID" required=true value=discipline._id)
      button(type="submit" class="bg-blue-600 text-white mt-2 rounded p-1 text-2xl") Delete

