extends layout 

block content 

 div(class="p-2 flex flex-col items-center")

  h1(class="font-bold text-3xl" ) #{sku.model} Stock Item

  div(class=" flex gap-2 text-blue-400 mb-2")
    a(href=sku_instance.url + '/delete') Delete 
    a(href=sku_instance.url + '/update') Update

  p Model: #{sku.model}
  p Size: #{sku_instance.size_formatted}
  p Quality: #{sku_instance.quality}

  