extends layout 

block content 
  h1= title
  a(href=sku.url + "/update") Update

  p=sku.model
  p=sku.price
  
  h2(class="font-bold") Stock:

  ul 
    for instance in sku_instances
      li
        a(href=instance.url) #{instance.size_formatted} in #{instance.quality} condition